<div id="messages"></div>
<div class="input-group">
  <input id="user-input" type="text" class="form-control" placeholder="@user">
  <input id="chat-input" type="text" placeholder="メッセージ"></input>
</div>
